body, textarea, input, select {
  font-family: sans-serif;
  font-size: 13px;
}

th {
  font-size: 16px;
}

table, th, td {
   border: 2px solid lightgrey;
   border-collapse: collapse;
   border-style:inset;
}

th {
  width: 150px;
  text-align: right;
  padding-right:5px;
}

td {
  width: 350px;
}

input[type="text"] {
    width: 250px;
}

textarea {
    width: 250px;
    height: 80px;
}

input[type="email"] {
  width: 250px;
}

input[id="city"] {
  width: 150px;
}

input[id="state"] {
  width: 60px;
}

input[name="zip_code"] {
  width: 60px;
}

select[name="country"] {
  width: 150px;
}

label[for=state] {
  font-weight: bold;
  font-size: 16px;
}

#day, #month {
  width: 40px;
}

#year {
  width: 60px;
}

#tel1 {
  width: 25px;
}

#tel2 {
  width: 20px;
}

#tel3 {
  width: 55px;
}

tfoot {
  background-color: lightblue;
}

#buttonHolder {
  text-align: center;
}
